@using StudentskiDom.Models
@model Korisnik
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>
<strong>Jeste li sigurni da želite izbrisati korisnika @Model.PrezimeIme ?</strong>

@using (Html.BeginForm("Brisi", "Korisnici"))
{
    @Html.AntiForgeryToken();
    <button type="submit" class="btn btn-danger">
        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>Izbriši
    </button>
    <br />
    <br />

    @Html.ActionLink("Odustani", "PopisKorisnika");
}

