
@{
    ViewBag.Title = "Status brisanja korisnika";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="alert alert-success" role="alert">Podaci uspješno izbrisani!</div>

@Html.ActionLink("Povratak na popis korisnika", "PopisKorisnika");

