
@*@{
    //ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Studentski dom</h2>

Korisnici doma
<br />
Fakultet:@ViewBag.Fakultet
<br />


Popis korisnika @Html.ActionLink("link", "PopisKorisnika")*@


