@using StudentskiDom.Models
@model List<Korisnik>
@{
    ViewBag.Title = "Popis Korisnika";
    Layout = "~/Views/Shared/_Layout.cshtml";
    AjaxOptions ajaxOpt = new AjaxOptions()
    {
        UpdateTargetId = "popisKorisnika",
        InsertionMode = InsertionMode.Replace,
        HttpMethod = "GET",
        OnBegin = "LoadingRow"
    };
}

<h2>Popis korisnika</h2>

<br />
<br />
@using (Ajax.BeginForm("PopisKorisnikaPartial", "Korisnici", ajaxOpt, new { @class = "form-inline",id="formPopisKorisnika" }))
{
    @Html.TextBox("naziv", "", new { @class = "form-control", placeholder = "Naziv korisnika" })
    <!--Trenutno nek bude samo pretraga po nazivu kasnija lagano dodamo pretragu po godini studija-->
    <!--moguce da bude trebalo dodati jos neke stvari kako se bude projekt nadogradivao-u svakom slucaju kad se to napravi pratiti prezentaciju 10(AJAX)-->
    <button type="submit" class="btn btn-primary">
        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>Traži
    </button>

}


@{
    Html.RenderAction("PopisKorisnikaPartial", new { naziv = "" });
}
<!--pretpostavljam da taj dio treba tako napraviti, ukoliko je nesto krivo lagano se nadogradi-->
@section Scripts{
    <script type="text/javascript">
        function LoadingRow() {
            $("#tableKorisnici tbody").empty();

            $("#tableKorisnici tbody").append('<tr><td colspan="7" style="text-align: center">Pretraga u tijeku...</td></tr>');

            $("#pager").empty();
        }
    </script>
}

