@{
    ViewBag.Title = "Početna stranica";

}
<!--dodana je background slika ali nije responzivna bar mislim-->
<style>
    .jumbotron {
        margin-top: 20px;
        background: url('/Images/MEV.jpg')no-repeat center center;
        background-size: cover;
        min-height: 550px;
        margin-bottom: 0px;
        width: 100%;
        padding: 0,0;
        color:darkred;
    }
</style>
<div class="jumbotron">
    <h1>Studentski dom</h1>
    <p class="lead">Međimursko veleučilište u Čakovcu</p>
</div>

<div class="row">

    

    <div class="col-md-12">

        <h2>Općenito</h2>
        <p>
            Ova aplikacija napravljena je u svrhu lakšeg snalaženja studenata studentskog doma Međimurskog veleučilišta u Čakovcu 
            te svi koji žele korisititi aplikaciju moraju biti prijavljeni, gosti na stranici mogu vidjeti samo slike soba te osnovne informacije o sobama
        </p>
        
    </div>



</div>