
@{
    ViewBag.Title = "Prikaz slika studentskog doma u Čakovcu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<title>@ViewBag.Title</title>

<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
<div>
    <h2 style="background-color:lightblue;color: black; text-align: center; font-style: oblique">Studentski dom Čakovec</h2>
    <fieldset>

        <div class="col-lg-3 col-md-4 col-sm-6">
            <a href="~/Images/soba1.jpg" class="thumbnail">
                <p>Radni stolovi</p>
                <img src="~/Images/soba1.jpg" />
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
            <a href="~/Images/soba1.1.jpg" class="thumbnail">
                <p>Soba 1</p>
                <img src="~/Images/soba1.1.jpg" />
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
            <a href="~/Images/soba1.2.jpg" class="thumbnail">
                <p>Soba 2</p>
                <img src="~/Images/soba1.2.jpg" />
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
            <a href="~/Images/soba1.3.jpg" class="thumbnail">
                <p>Soba 3</p>
                <img src="~/Images/soba1.3.jpg" />
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
            <a href="~/Images/soba12.jpg" class="thumbnail">
                <p>Soba 12</p>
                <img src="~/Images/soba12.jpg" />
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
            <a href="~/Images/kupaonica.jpg" class="thumbnail">
                <p>Kupaonica</p>
                <img src="~/Images/kupaonica.jpg" />
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
            <a href="~/Images/prostor za rekreaciju.jpg" class="thumbnail">
                <p>Prostor za rekreaciju</p>
                <img src="~/Images/prostor za rekreaciju.jpg" />
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
            <a href="~/Images/prostor za rekreaciju 1.1.jpg" class="thumbnail">
                <p>Prostor za rekreaciju</p>
                <img src="~/Images/prostor za rekreaciju 1.1.jpg" />
            </a>
        </div>

    </fieldset>
</div>
<footer>
    <p style="background-color: lightblue; font-weight: bold; color:black; text-align: center; font-style: oblique">
        
        <script>document.write(new Date().toDateString());</script>
    </p>
</footer>

